
<div class="navbar navbar-inverse navbar-fixed-bottom footer-size" role="navigation">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 small-padded">
          <ul class="list-inline">
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-8 text-right">
          <h4>Dulieu Builders Ltd</h4>
        </div>
      </div>
    </div>
  </div>
</div>
