
<div class="navbar navbar-fixed-bottom footer-size" role="navigation">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 small-padded footer-icon">
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/joe-dulieu-02991599/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/pages/Dulieu-Builders/441865132491991"><i class="fa fa-facebook"></i></a></li>
            <li><a href="tel:07813052915"><i class="fa fa-phone"></i></a></li>
        </div>
        <div class="col-xs-8 text-right">
          <h4>Dulieu Builders</h4>
        </div>
      </div>
    </div>
  </div>
</div>
