<div class="container">
  <div align="center" class="padded-top">
    <h1>Bathrooms</h1>
    <h4>
    Dulieu Builders can help in designing and bringing to you the bathroom that best suits you. With our knowledge and experience we will deliver a high quality product whatever the size of your project.
    </h4>
  </div>
</div>

<div class="container text-center padded">
    <div class="row services">
      <%= image_tag("bathrooms.JPG") %>
  </div>
</div>
