<div class="padded">
  <div align="center">
   <div class="underline">
   <h2>Contact Us</h2>
   </div>
    <h3>Email</h3>
    <h4>
      <a href="mailto:joe@dulieubuilders.com">joe@dulieubuilders.com</a>
    </h4>

    <h3>Phone</h3>
    <h4>
      <a href="tel:07813052915">07813052915</a>
    </h4>
    <h3>Address</h3>
    <h4>
      13 Hazlemere Road,
      Penn,
      HP10 8AD.
    </h4>

  </div>
</div>
