<div class="container">
  <div align="center" class="padded-top">
    <h1>Externals</h1>
    <h4>
    Dulieu Builders deliver high quality external and landscaping services to our clients. Making the most out of the land you have to frame your property in both a charming and practical manner
    </h4>
  </div>
</div>

<div class="container text-center padded">
    <div class="row services">
      <%= image_tag("externals.JPG") %>
  </div>
</div>
