<div class="container">
  <div align="center" class="padded-top">
    <h1>Extensions</h1>
    <h4>
    With over 40 years experience in the Buckinghamshire area Dulieu Builders deliver consultation and completion on extensions both big and small. With our knowledge we can aid clients with expert advice in how to make the most out of your project.
    </h4>
  </div>
</div>

<div class="container text-center padded">
    <div class="row services">
      <%= image_tag("extensions.jpg") %>
  </div>
</div>
