<div class="container">
  <div align="center" class="padded-top">
    <h1>Kitchens</h1>
    <h4>
    Dulieu Builders can help to both design and advise on what kitchen best suits you. Seeing the process from start to finish with the promise of delivering a comprehensive finished product that lives up to the needs of those using the space.
    </h4>
  </div>
</div>

<div class="container text-center padded">
    <div class="row services">
      <%= image_tag("kitchens.JPG") %>
  </div>
</div>
