<div class="container">
  <div align="center" class="padded-top">
    <h1>New Builds</h1>
    <h4>Dulieu Builders have experience in delivering new build homes of various sizes. Dealing with architects and other contractors to complete all projects both to budget and on time, always completed with high quality.
    </h4>
  </div>
</div>

<div class="container text-center padded">
    <div class="row services">
      <%= image_tag("home.jpg") %>
  </div>
</div>
